{
  "version": 1,
  "applications": [
    {
      "app_id": "cindydjangodocker-Qdmfs",
      "api_key": "AQQBBAERiy9koxxNA4vBlZ_dldKSDt3KIic2SgKe1ABEF2j9i1fjdGRA_l4l7ZPeFSL700M",
      "tcell_api_url": "https://us.agent.tcell.insight.rapid7.com/api/v1",
      "tcell_input_url": "https://us.input.tcell.insight.rapid7.com/api/v1",
      "js_agent_api_base_url": "https://us.agent.tcell.insight.rapid7.com/api/v1"
    }
  ]
}